block variables
    - let lang = 'en-EN';
    
doctype html
html(lang=lang)
    head
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title IT NonStop Conference
        meta(name='description', content='IT NonStop: JFall is the first conference devoted to JVM and Craftsmanship organised in Lublin')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='apple-touch-icon', href='icon.png')
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet")
        //- styles
        link(rel='stylesheet', type='text/css', href='./assets/styles/style.min.css')
        //- favicons
        //- link(rel='icon', href='assets/img/svg/dark-logo.svg', sizes='any', type='image/svg+xml')
        //- link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
        //- link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
        //- link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
        //- link(rel='manifest', href='/site.webmanifest')
    body
        block content
        footer
            p Produced by
            img.producer-data-art(src="./assets/images/DA-logo-white-rgb.png" alt="DataArt")
            img.producer-ljug(src="./assets/images/ljug.png" alt="LJUG")
            time.year 2018
            a(href="./code-of-conduct.html") Code of conduct
            a(href="./rules-of-data-processing.html") Rules of personal data processing
        script(src="./js/script.js")

        //- script(type="text/javascript" src="../js/script.js")