extends ./base/layout.pug

block content
    .code-of-conduct
        header
            h2.logo
                a(href="./index.html") it nonstop
            time.date december 8, 2018
            .lang
                a(href="./code-of-conduct.html" class=(lang === 'en-EN') ? 'active' : '') eng
                a(href="./code-of-conduct-pl.html" class=(lang === 'pl-PL') ? 'active' : '') pl
        main
            h1 Code of conduct
            p 
                |All attendees, speakers, sponsors and volunteers at IT NonStop: J-Santa are required to agree with the following code of conduct. Organisers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.

            p
                |IT NonStop:J-Santa is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, parties and online communication channels.
                br
                |Conference participants violating these rules may be sanctioned or expelled from the conference at the discretion of the conference organisers.
            p
                |If you experience any problems, please contact us:
                br
                a(href="mailto:hello@j-santa.pl.") hello@j-santa.pl.
            p © Copyright