extends ./base/layout.pug

block content
    .code-of-conduct
        header
            h2.logo
                a(href="./index.html") it nonstop
            time.date december 8, 2018
        main
            h1 Code of conduct
            p 
                |All attendees, speakers, sponsors and volunteers at DevFest Siberia are required to agree with the following code of conduct. Organisers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.

            p
                |DevFest Siberia is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body s  ize, race, or religion. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online communication channels.
                br
                |Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organisers.
            p
                |If you experience any problems, please contact us:
                ul
                    li Email: 
                        a(href="mailto:911@gdg-siberia.com") 911@gdg-siberia.com
                    li Phone: 
                        a(href="tel:+79538789131") +7 (953) 878 9131
                |© Copyright
            p
                |Was taken from Codemotion. Is licensed under Creative Commons Attribution 3.0 Unported License.