extends index.pug
block variables
    - let lang = 'pl-PL';
    -
        const content = [
            {
                subtitle: 'O konferencji',
                text: 'IT NonStop: J-Santa to pierwsza konferencja poświęcona JVM i Craftsmanship w Lublinie. W ramach 3 ścieżek tematycznych eksperci opowiedzą o technologiach, podzielą się doświadczeniem związanym z realizowanymi projektami i zaprezentują typowe techniczne case studies. Zapraszamy do udziału specjalistów i entuzjastów Javy oraz tematów pokrewnych. Dołącz do nas!'
            },
            {
                subtitle: 'Zostań prelegentem',
                text: [
                    'Prześlij ', 
                    'do nas e-mail ', 
                    'z propozycją tematu i krótkim opisem twojego wystąpienia. Czas trwania prezentacji: do 45 minut. ', 
                    'Każda propozycja prezentacji jest analizowana przez panel ekspertów IT NonStop: J-Santa.'
                ]
            }
        ]
    -
        const supportContent = ['If you have any questions, ', 'please contact '];