@font-face {
    font-family: "DA_FuturaPTWebDemi";
    src:
        url("../fonts/DAFTN65W.woff2") format("woff2"),
        url("../fonts/DAFTN65W.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "DA_FuturaPTWebDemi";
    src:
        url("../fonts/DAFTN35W.woff2") format("woff2"),
        url("../fonts/DAFTN35W.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}