body {
    background-image:
        radial-gradient(
            circle at top left,
            rgba(0, 0, 0, 0.3) 0,
            rgba(0, 0, 0, 0.3) 1px,
            white 1px,
            white 12px);
    background-repeat: repeat;
    background-size: 12px 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2, h3, h4, p {
    text-align: center;
}

a {
    color: rgba(255, 116, 0, 1);
    text-decoration: none;

    &:hover {
        color: rgba(255, 116, 0, 0.5);
    }
}

time {
    margin: auto;
}

.welcome-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}   

.poster {
    margin-bottom: 130px;
}

.rectangle {
    width: 60px;
    height: 106px;
    position: absolute;

    &.blue {
        color: rgb(83, 130, 161);
        background-color: currentColor;
    }

    &.orange {
        color: rgb(255, 116, 0);
        background-color: currentColor;
    }

    &.blurred {
        width: 55px;
        height: 101px;
        box-shadow: 0 0 5px 5px currentColor;
    }

    &.heavy-blurred {
        width: 50px;
        height: 96px;
        box-shadow: 0 0 10px 10px currentColor;
    }
}

.brand {
    font-family: 'DA_FuturaPTWebDemi', sans-serif;
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 72px;

    span {
        font-weight: 300;
    }
}

.city, .date, .year {
    // font-size: 20px;
    font-family: 'DA_FuturaPTWebDemi', sans-serif;
    font-weight: 900;
    line-height: 32px;
    margin: 0;
}

.date {
    display: block;
    text-align: center; 
}

.title {
    font-size: 106px;
    font-family: 'DA_FuturaPTWebDemi', sans-serif;
    font-weight: 900;
    margin: 16px;
}

.hashtag {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}


.city, .date, .title {
    text-transform: uppercase;
}

.subtitle {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 32px;
    line-height: 36px;
}

.desc {
    // font-size: 20px;
    line-height: 30px;
}

.hidden {
    display: none;
}

header {
    background-color: white;
    opacity: 1;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-family: 'DA_FuturaPTWebDemi', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    position: fixed;
    height: 80px;
}

.logo {
    font-size: 20px;
    font-weight: 900;
    margin-left: 60px;
}

.lang {
    width: 112px;
    margin-right: 60px;
    
    button{
        border: none;
        background-color: transparent;
        font-size: 20px;
        font-family: 'DA_FuturaPTWebDemi', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
    }
}

main {
    padding-top: 1133px;
    display: flex;
    flex-direction: column;
    flex: 1;

    section {
        width: 50%;
        margin: 0 auto 96px auto;
    }
}

.location {
    display: flex;
    flex-direction: column;
}

.address {
    font-size: 14px;
    font-weight: 600;
    margin: 8px auto 30px auto;
}

.support {


}

footer {
    background-color: rgb(83, 130, 161);
    color: white;
    display: flex;
    align-items: center;
    padding: 0 160px;
    height: 160px;

    p {
        margin: 0;
        margin-right: 20px;
    }
}

.producer-data-art {
    width: 196px;
}

.producer-ljug {
    width: 100px;
}

.year {
    margin-left: auto;
}
